html {
  scroll-behavior: smooth;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  align-items: center;
  height: 100vh;
  color: black;
  background: #63b6db;
  background: linear-gradient(135deg, #63b6db 0%, #309dcf 100%);
  overflow: hidden;
  position: relative;
}
header:after {
  content: "";
  background-image: url("/images/empty.svg");
  width: 500px;
  height: 500px;
  opacity: 0.05;
  position: absolute;
  bottom: -120px;
  right: -95px;
}
header h1 {
  font-size: 4rem;
  color: black;
}
header h2 {
  color: white;
  font-weight: 100;
}
#main {
  background-color: #f4f8ff;
}

#performance-chart {
  width: 100%;
  background: #ffffff;
  padding: 1rem;
}
#performance-chart > div {
  padding: 1rem;
  color: #ffffff;
}
[data-type="laravel"] {
  background-color: #e74430;
  width: 90%;
}
[data-type="symfony"] {
  background-color: black;
  width: 85%;
}
[data-type="slim"] {
  background-color: #719e40;
  width: 90%;
}
#performance-chart [data-type="speedbumpphp"] {
  background-color: #63b6db;
  color: black;
  width: 5%;
}

#who-uses img {
  margin: 2rem;
  filter: grayscale();
  opacity: 0.3;
}

#code {
  width: 100%;
  max-width: 500px;
}
